.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.pageTitle { 
  color: #ff8a5c;
}

.locTitle {
  color: #49beb7;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.locGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fishPanel {
  min-width: 150px;
  min-height: 150px;
  margin: 8px;
}

.timeText {
  color: #737373;
  font-style: italic;
  font-size: 13px;
}

.centerer {
  display: inline-block;
  width: 70%;
}

.timeSelect {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #badfdb;

  /* border: 1px solid black; */
  justify-content: space-evenly;
  align-items: center;
}

.linksbar {
  text-align: end;
  margin-right: 20px;
  margin-top: 8px;
}

.github {
  width: 30px;
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
